/* GENERAL */
*
{
  margin: 0em;
}
header
{
  display: flex;
}

/* HEADER */

h1
{
  margin-top: 2em;
  color: #444;
}
.point
{
  color: #ff7a00;
}
nav ul
{
  margin-top: 2em;
  list-style-type: none;
  display: flex;
  min-width: 10em;
  justify-content: space-around;
}